@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  font-family: "Roboto", sans-serif;
  margin: 10px 0 0 0;
  text-align: center;
  background-image: url("carbg.webp");
}

nav {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 900px;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  background: rgba(29, 37, 50, 0.9);
  border-radius: 10px;
}

a {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
  min-width: 80px;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  background-color: grey;
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #8c8c8c;
  font-weight: bold;
  border-radius: 10px;
}

a:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}

h1 {
  color: #ffffff;
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  color: #ffffff;
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  height: 38px;
  border-radius: 5px;
}

button:hover {
  background-color: grey;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.car-box {
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  color: #ffffff;
}
